<!DOCTYPE html>
<html>

<head>
  <title>Reddit Reader</title>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
  <header>
    <h1>Reddit Reader</h1>
    <h3>A service to aggregate all your favourite subreddits</h3>
  </header>
  <main>
    <form action="/add" method="POST">
        <h4>Add a subreddit:</h4>
        <h5>Write the name without /r/</h5>
        <input type="text" placeholder="Write a subreddit name" name="new_subreddit" required>
        <button type="submit">Add</button>
    </form>
    <hr>
    <form action="/read" method="GET">
      <h4>Select the subreddits you're interested on:</h4>
      <ul>
        {% for subreddit in subreddits %}
        <li>
          <input type="checkbox" name="{{subreddit}}" id="{{subreddit}}">
          <label for="{{subreddit}}">r/{{subreddit}}</label>
        </li>
        {% endfor %}
      </ul>
      <button type="submit">Aggregate</button>
    </form>
  </main>
</body>

</html>